<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    .class-a {
    	color: red;
    }
    .class-b {
    	border-bottom: 1px dashed #ddd;
    }
    .hide {display: none;}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div id="app">
	  <p>{{ message }}</p>
	  <button v-on:click="reverseMessage">Reverse Message</button>
	</div>  
	<ul id="example-1">
	  <li v-for="item in items">
	    {{ item.message }}
	  </li>
	</ul>	
	<div id="example-2" v-bind:class="[classA, classB]">
	  <p v-if="greeting">Hello!</p>
	  <span>Message is: {{ message }}</span>
	  <br />
	  <input v-model="message" @keyup.13="submitHandler" />
	  <br />
	  <input type="checkbox" id="checkbox" v-model="checked">
	  <label for="checkbox">{{ checked ? "checked" : "unchecked" }}</label><br />
	  <select v-model="selected">
		  <option selected>A</option>
		  <option>B</option>
		  <option>C</option>
	   </select>
	   <span>Selected: {{ selected }}</span>
	</div>	
	<div id="example-component">
	  <my-component msg="hello msg"></my-component>
	</div>	
	<div id="stock">
		<stock code="sh000001"></stock>
		<stock code="600122"></stock>
		<stock code="300345"></stock>
		<input type="button" @click="controllHandler" value="start" />
	</div>	

	<!-- 子组件模板 -->
	<template id="child-template">
		<div>{{ result }}</div>
	</template>
	<script type="text/javascript" src="/javascripts/build/index.build.js"></script>
	<!--script type="text/javascript" src="/javascripts/vue-dev.js"></script>-->
    <script type="text/javascript">
		
    </script>
  </body>
</html>
